header {
    background-color: $colorMain;
    span {
        color: $txt-color;
    }
    nav {
        background: {
            color: aqua;
            image: url();
            position: top center;
        };
        border: $border;
        ul {
            display: flex;
            li {
                list-style: none;
                a {
                    color: red;
                    &:hover {
                        color: green;
                    }
                }
            }
        }
    }
}